<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disease Libraries</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/disease-styles.css}">
</head>
<body>
<!-- Navbar -->
<header class="navbar">
    <div class="container">
        <!-- Logo -->
        <a th:href="@{|/|}" class="logo">Neochloris</a>

        <!-- Hamburger Menu Icon -->
        <div class="hamburger-menu">
            <i class="fa fa-bars"></i>
        </div>

        <!-- Navigation Links -->
        <nav>
            <ul class="nav-links">
                <li><a th:href="@{|/#home|}">Home</a></li>
                <li><a th:href="@{|/#about|}">About</a></li>
                <li class="active"><a th:href="@{/disease-library}">Diseases</a></li>
                <li><a th:href="@{|/#analysis|}">Analysis</a></li>
                <li><a th:href="@{|/#contact|}">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- Disease Library Section -->
<section id="disease-library" class="disease-library">
    <div class="container">
        <h1>Disease Library</h1>
        <p>Explore a curated library of plant diseases to identify and understand the conditions affecting your crops. Gain insights into common symptoms, preventive measures, and solutions for healthier plants.</p>
        <div class="grid-container">
            <!-- card 1 -->
            <div class="card" onclick="toggleDescription(this)">
                <div class="card-content">
                    <div class="image-container">
                        <img src="images/disease/apple_scab.jpg" alt="Apple Scab">
                    </div>
                    <div class="text-content">
                        <h3>Apple - Scab</h3>
                    </div>
                </div>
                <div class="description-section" style="display: none;">
                    <h4>Description</h4>
                    <p>
                        A fungal disease affecting apple trees, causing dark spots on leaves and fruits.
                    </p>
                </div>
            </div>
            <!-- card 2 -->
            <div class="card" onclick="toggleDescription(this)">
                <div class="card-content">
                    <div class="image-container">
                        <img src="images/disease/black-rot-app.jpg" alt="Black Rot">
                    </div>
                    <div class="text-content">
                        <h3>Apple - Black Rot</h3>
                    </div>
                </div>
                <div class="description-section" style="display: none;">
                    <h4>Description</h4>
                    <p>
                        A common apple disease caused by fungi, leading to fruit decay and leaf discoloration.
                    </p>
                </div>
            </div>
            <!-- card 3 -->
            <div class="card" onclick="toggleDescription(this)">
                <div class="card-content">
                    <div class="image-container">
                        <img src="images/disease/CAR_LG.jpg" alt="Cedar Apple Rust">
                    </div>
                    <div class="text-content">
                        <h3>Apple - Cedar Rust</h3>
                    </div>
                </div>
                <div class="description-section" style="display: none;">
                    <h4>Description</h4>
                    <p>
                        A fungal disease requiring junipers and apple trees, causing yellow-orange spots on leaves.
                    </p>
                </div>
            </div>
            <!-- card 4 -->
            <div class="card" onclick="toggleDescription(this)">
                <div class="card-content">
                    <div class="image-container">
                        <img src="images/disease/Healthy_apple.jpg" alt="Healthy Apple">
                    </div>
                    <div class="text-content">
                        <h3>Apple - Healthy</h3>
                    </div>
                </div>
                <div class="description-section" style="display: none;">
                    <h4>Description</h4>
                    <p>
                        Healthy apple trees with no visible signs of disease or pest damage.
                    </p>
                </div>
            </div>
            <!-- card 5 -->
            <div class="card" onclick="toggleDescription(this)">
                <div class="card-content">
                    <div class="image-container">
                        <img src="images/disease/Blueberry_healthy.jpg" alt="Healthy Blueberry">
                    </div>
                    <div class="text-content">
                        <h3>Blueberry - Healthy</h3>
                    </div>
                </div>
                <div class="description-section" style="display: none;">
                    <h4>Description</h4>
                    <p>
                        Blueberry plants showing no signs of disease, ensuring a bountiful harvest.
                    </p>
                </div>
            </div>
            <!-- card 6 -->
            <div class="card" onclick="toggleDescription(this)">
                <div class="card-content">
                    <div class="image-container">
                        <img src="images/disease/powdery-tcherry.webp" alt="Powdery Mildew">
                    </div>
                    <div class="text-content">
                        <h3>Cherry - Powdery Mildew</h3>
                    </div>
                </div>
                <div class="description-section" style="display: none;">
                    <h4>Description</h4>
                    <p>
                        A fungal disease affecting cherries, characterized by white powdery spots on leaves.
                    </p>
                </div>
            </div>
            <!-- card 7 -->
            <div class="card" onclick="toggleDescription(this)">
                <div class="card-content">
                    <div class="image-container">
                        <img src="images/disease/cherry-healthy-leaves.jpg" alt="Healthy Cherry">
                    </div>
                    <div class="text-content">
                        <h3>Cherry - Healthy</h3>
                    </div>
                </div>
                <div class="description-section" style="display: none;">
                    <h4>Description</h4>
                    <p>
                        Cherry trees in optimal health with glossy green leaves and vibrant fruits.
                    </p>
                </div>
            </div>
            <!-- card 8 -->
            <div class="card" onclick="toggleDescription(this)">
                <div class="card-content">
                    <div class="image-container">
                        <img src="images/disease/corn-grey-leaf.jpeg" alt="Gray Leaf Spot">
                    </div>
                    <div class="text-content">
                        <h3>Corn - Gray Leaf Spot</h3>
                    </div>
                </div>
                <div class="description-section" style="display: none;">
                    <h4>Description</h4>
                    <p>
                        A fungal disease affecting maize, causing gray spots on leaves and reducing yield.
                    </p>
                </div>
            </div>
            <!-- card 9 -->
            <div class="card" onclick="toggleDescription(this)">
                <div class="card-content">
                    <div class="image-container">
                        <img src="images/disease/Corn - Common Rust.jpg" alt="Corn - Common Rust">
                    </div>
                    <div class="text-content">
                        <h3>Corn - Common Rust</h3>
                    </div>
                </div>
                <div class="description-section" style="display: none;">
                    <h4>Description</h4>
                    <p>
                        A fungal infection producing reddish-brown pustules on leaves.
                    </p>
                </div>
            </div>
            <!-- card 10 -->
            <div class="card" onclick="toggleDescription(this)">
                <div class="card-content">
                    <div class="image-container">
                        <img src="images/disease/Corn - Northern Leaf Blight.jpeg" alt="Corn - Northern Leaf Blight">
                    </div>
                    <div class="text-content">
                        <h3>Corn - Northern Leaf Blight</h3>
                    </div>
                </div>
                <div class="description-section" style="display: none;">
                    <h4>Description</h4>
                    <p>
                        A fungal disease characterized by large, elliptical tan lesions on leaves.
                    </p>
                </div>
            </div>
            <!-- card 11 -->
            <div class="card" onclick="toggleDescription(this)">
                <div class="card-content">
                    <div class="image-container">
                        <img src="images/disease/Corn - Healthy.jpg" alt="Corn - Healthy">
                    </div>
                    <div class="text-content">
                        <h3>Corn - Healthy</h3>
                    </div>
                </div>
                <div class="description-section" style="display: none;">
                    <h4>Description</h4>
                    <p>
                        Corn plants without visible signs of disease or stress.
                    </p>
                </div>
            </div>
            <!-- card 12 -->
            <div class="card" onclick="toggleDescription(this)">
                <div class="card-content">
                    <div class="image-container">
                        <img src="images/disease/Grape - Black Rot.jpg" alt="Grape - Black Rot">
                    </div>
                    <div class="text-content">
                        <h3>Grape - Black Rot</h3>
                    </div>
                </div>
                <div class="description-section" style="display: none;">
                    <h4>Description</h4>
                    <p>
                        This disease affects apple leaves and fruits, causing significant quality and yield loss. Proper pruning and fungicide application can help manage this condition.
                    </p>
                </div>
            </div>
            <!-- card 13 -->
            <div class="card" onclick="toggleDescription(this)">
                <div class="card-content">
                    <div class="image-container">
                        <img src="images/disease/Grape - Esca.jpeg" alt="Grape - Esca">
                    </div>
                    <div class="text-content">
                        <h3>Grape - Esca</h3>
                    </div>
                </div>
                <div class="description-section" style="display: none;">
                    <h4>Description</h4>
                    <p>
                        A complex disease causing leaf discoloration, black streaks on wood, and dried berries.
                    </p>
                </div>
            </div>
            <!-- card 14 -->
            <div class="card" onclick="toggleDescription(this)">
                <div class="card-content">
                    <div class="image-container">
                        <img src="images/disease/Grape - Leaf Blight.webp" alt="Grape - Leaf Blight">
                    </div>
                    <div class="text-content">
                        <h3>Grape - Leaf Blight</h3>
                    </div>
                </div>
                <div class="description-section" style="display: none;">
                    <h4>Description</h4>
                    <p>
                        A fungal infection leading to brown, necrotic spots on leaves.
                    </p>
                </div>
            </div>
            <!-- card 15 -->
            <div class="card" onclick="toggleDescription(this)">
                <div class="card-content">
                    <div class="image-container">
                        <img src="images/disease/Grape - Healthy.webp" alt="Grape - Healthy">
                    </div>
                    <div class="text-content">
                        <h3>Grape - Healthy</h3>
                    </div>
                </div>
                <div class="description-section" style="display: none;">
                    <h4>Description</h4>
                    <p>
                        Grapevines with no signs of disease or damage.
                    </p>
                </div>
            </div>
            <!-- card 16 -->
            <div class="card" onclick="toggleDescription(this)">
                <div class="card-content">
                    <div class="image-container">
                        <img src="images/disease/Orange - Huanglongbing.jpg" alt="Orange - Huanglongbing">
                    </div>
                    <div class="text-content">
                        <h3>Orange - Huanglongbing</h3>
                    </div>
                </div>
                <div class="description-section" style="display: none;">
                    <h4>Description</h4>
                    <p>
                        bacterial disease causing yellowing leaves, deformed fruit, and tree decline.
                    </p>
                </div>
            </div>
            <!-- card 17 -->
            <div class="card" onclick="toggleDescription(this)">
                <div class="card-content">
                    <div class="image-container">
                        <img src="images/disease/Peach - Bacterial Spot.jpg" alt="Peach - Bacterial Spot">
                    </div>
                    <div class="text-content">
                        <h3>Peach - Bacterial Spot</h3>
                    </div>
                </div>
                <div class="description-section" style="display: none;">
                    <h4>Description</h4>
                    <p>
                        A bacterial infection causing dark spots on leaves, fruits, and twigs.
                    </p>
                </div>
            </div>
            <!-- card 18 -->
            <div class="card" onclick="toggleDescription(this)">
                <div class="card-content">
                    <div class="image-container">
                        <img src="images/disease/Peach - Healthy.jpeg" alt="Peach - Healthy">
                    </div>
                    <div class="text-content">
                        <h3>Peach - Healthy</h3>
                    </div>
                </div>
                <div class="description-section" style="display: none;">
                    <h4>Description</h4>
                    <p>
                        Peach trees showing no disease symptoms and healthy growth.
                    </p>
                </div>
            </div>
            <!-- card 19 -->
            <div class="card" onclick="toggleDescription(this)">
                <div class="card-content">
                    <div class="image-container">
                        <img src="images/disease/Pepper, bell - Bacterial Spot.jpg" alt="Pepper, bell - Bacterial Spot">
                    </div>
                    <div class="text-content">
                        <h3>Pepper - Bacterial Spot</h3>
                    </div>
                </div>
                <div class="description-section" style="display: none;">
                    <h4>Description</h4>
                    <p>
                        A bacterial disease causing water-soaked spots on leaves and fruit, which turn dark.
                    </p>
                </div>
            </div>
            <!-- card 20 -->
            <div class="card" onclick="toggleDescription(this)">
                <div class="card-content">
                    <div class="image-container">
                        <img src="images/disease/Pepper, bell - Healthy.jpg" alt="Pepper, bell - Healthy">
                    </div>
                    <div class="text-content">
                        <h3>Pepper, bell - Healthy</h3>
                    </div>
                </div>
                <div class="description-section" style="display: none;">
                    <h4>Description</h4>
                    <p>
                        Bell pepper plants without disease symptoms or stress.
                    </p>
                </div>
            </div>
            <!-- card 21 -->
            <div class="card" onclick="toggleDescription(this)">
                <div class="card-content">
                    <div class="image-container">
                        <img src="images/disease/Potato - Early Blight.png" alt="Potato - Early Blight">
                    </div>
                    <div class="text-content">
                        <h3>Potato - Early Blight</h3>
                    </div>
                </div>
                <div class="description-section" style="display: none;">
                    <h4>Description</h4>
                    <p>
                        A fungal disease causing brown concentric rings on leaves and tubers.
                    </p>
                </div>
            </div>
            <!-- card 22 -->
            <div class="card" onclick="toggleDescription(this)">
                <div class="card-content">
                    <div class="image-container">
                        <img src="images/disease/Potato - Late Blight.jpeg" alt="Potato - Late Blight">
                    </div>
                    <div class="text-content">
                        <h3>Potato - Late Blight</h3>
                    </div>
                </div>
                <div class="description-section" style="display: none;">
                    <h4>Description</h4>
                    <p>
                        A fungal disease leading to water-soaked, dark lesions on leaves and tubers.
                    </p>
                </div>
            </div>
            <!-- card 23 -->
            <div class="card" onclick="toggleDescription(this)">
                <div class="card-content">
                    <div class="image-container">
                        <img src="images/disease/Potato - Healthy.jpg" alt="Potato - Healthy">
                    </div>
                    <div class="text-content">
                        <h3>Potato - Healthy</h3>
                    </div>
                </div>
                <div class="description-section" style="display: none;">
                    <h4>Description</h4>
                    <p>
                        Potato plants free from disease or visible damage.
                    </p>
                </div>
            </div>
            <!-- card 24 -->
            <div class="card" onclick="toggleDescription(this)">
                <div class="card-content">
                    <div class="image-container">
                        <img src="images/disease/Raspberry - Healthy.webp" alt="Raspberry - Healthy">
                    </div>
                    <div class="text-content">
                        <h3>Raspberry - Healthy</h3>
                    </div>
                </div>
                <div class="description-section" style="display: none;">
                    <h4>Description</h4>
                    <p>
                        Raspberry plants with no visible disease symptoms.
                    </p>
                </div>
            </div>
            <!-- card 25 -->
            <div class="card" onclick="toggleDescription(this)">
                <div class="card-content">
                    <div class="image-container">
                        <img src="images/disease/Soybean - Healthy.jpg" alt="Soybean - Healthy">
                    </div>
                    <div class="text-content">
                        <h3>Soybean - Healthy</h3>
                    </div>
                </div>
                <div class="description-section" style="display: none;">
                    <h4>Description</h4>
                    <p>
                        Soybean plants free from disease or stress.
                    </p>
                </div>
            </div>
            <!-- card 26 -->
            <div class="card" onclick="toggleDescription(this)">
                <div class="card-content">
                    <div class="image-container">
                        <img src="images/disease/Squash - Powdery Mildew.jpg" alt="Squash - Powdery Mildew">
                    </div>
                    <div class="text-content">
                        <h3>Squash - Powdery Mildew</h3>
                    </div>
                </div>
                <div class="description-section" style="display: none;">
                    <h4>Description</h4>
                    <p>
                        A fungal infection causing white, powdery growth on leaves and stems.
                    </p>
                </div>
            </div>
            <!-- card 27 -->
            <div class="card" onclick="toggleDescription(this)">
                <div class="card-content">
                    <div class="image-container">
                        <img src="images/disease/Strawberry - Leaf Scorch.jpg" alt="Strawberry - Leaf Scorch">
                    </div>
                    <div class="text-content">
                        <h3>Strawberry - Leaf Scorch</h3>
                    </div>
                </div>
                <div class="description-section" style="display: none;">
                    <h4>Description</h4>
                    <p>
                        A fungal disease causing red to purple spots on leaves that may merge, leading to leaf burn.
                    </p>
                </div>
            </div>
            <!-- card 28 -->
            <div class="card" onclick="toggleDescription(this)">
                <div class="card-content">
                    <div class="image-container">
                        <img src="images/disease/Strawberry - Healthy.jpg" alt="Strawberry - Healthy">
                    </div>
                    <div class="text-content">
                        <h3>Strawberry - Healthy</h3>
                    </div>
                </div>
                <div class="description-section" style="display: none;">
                    <h4>Description</h4>
                    <p>
                        Strawberry plants without disease symptoms or visible stress.
                    </p>
                </div>
            </div>
            <!-- card 29 -->
            <div class="card" onclick="toggleDescription(this)">
                <div class="card-content">
                    <div class="image-container">
                        <img src="images/disease/Tomato - Bacterial Spot.jpg" alt="Tomato - Bacterial Spot">
                    </div>
                    <div class="text-content">
                        <h3>Tomato - Bacterial Spot</h3>
                    </div>
                </div>
                <div class="description-section" style="display: none;">
                    <h4>Description</h4>
                    <p>
                        A bacterial infection causing small, water-soaked spots that turn dark on leaves and fruit.
                    </p>
                </div>
            </div>
            <!-- card 30 -->
            <div class="card" onclick="toggleDescription(this)">
                <div class="card-content">
                    <div class="image-container">
                        <img src="images/disease/Tomato - Early Blight.jpeg" alt="Tomato - Early Blight">
                    </div>
                    <div class="text-content">
                        <h3>Tomato - Early Blight</h3>
                    </div>
                </div>
                <div class="description-section" style="display: none;">
                    <h4>Description</h4>
                    <p>
                        A fungal disease causing concentric rings on lower leaves and stem lesions.
                    </p>
                </div>
            </div>
            <!-- card 31 -->
            <div class="card" onclick="toggleDescription(this)">
                <div class="card-content">
                    <div class="image-container">
                        <img src="images/disease/Tomato - Late Blight.jpg" alt="Tomato - Late Blight">
                    </div>
                    <div class="text-content">
                        <h3>Tomato - Late Blight</h3>
                    </div>
                </div>
                <div class="description-section" style="display: none;">
                    <h4>Description</h4>
                    <p>
                        A fungal disease causing water-soaked lesions on leaves and dark spots on fruit.
                    </p>
                </div>
            </div>
            <!-- card 32 -->
            <div class="card" onclick="toggleDescription(this)">
                <div class="card-content">
                    <div class="image-container">
                        <img src="images/disease/Tomato - Leaf Mold.jpeg" alt="Tomato - Leaf Mold">
                    </div>
                    <div class="text-content">
                        <h3>Tomato - Leaf Mold</h3>
                    </div>
                </div>
                <div class="description-section" style="display: none;">
                    <h4>Description</h4>
                    <p>
                        A fungal disease resulting in yellow spots on the upper leaf surface and mold on the underside.
                    </p>
                </div>
            </div>
            <!-- card 33 -->
            <div class="card" onclick="toggleDescription(this)">
                <div class="card-content">
                    <div class="image-container">
                        <img src="images/disease/Tomato - Septoria Leaf Spot.webp" alt="Tomato - Septoria Leaf Spot">
                    </div>
                    <div class="text-content">
                        <h3>Tomato - Septoria Spot</h3>
                    </div>
                </div>
                <div class="description-section" style="display: none;">
                    <h4>Description</h4>
                    <p>
                        A fungal disease causing small, circular spots on leaves with dark margins.
                    </p>
                </div>
            </div>
            <!-- card 34 -->
            <div class="card" onclick="toggleDescription(this)">
                <div class="card-content">
                    <div class="image-container">
                        <img src="images/disease/Tomato - Spider Mites.jpg" alt="Tomato - Spider Mites">
                    </div>
                    <div class="text-content">
                        <h3>Tomato - Spider Mites</h3>
                    </div>
                </div>
                <div class="description-section" style="display: none;">
                    <h4>Description</h4>
                    <p>
                        A pest causing leaf stippling and webbing, leading to leaf yellowing and death.
                    </p>
                </div>
            </div>
            <!-- card 35 -->
            <div class="card" onclick="toggleDescription(this)">
                <div class="card-content">
                    <div class="image-container">
                        <img src="images/disease/Tomato - Target Spot.jpg" alt="Tomato - Target Spot">
                    </div>
                    <div class="text-content">
                        <h3>Tomato - Target Spot</h3>
                    </div>
                </div>
                <div class="description-section" style="display: none;">
                    <h4>Description</h4>
                    <p>
                        A fungal disease causing circular spots with a target-like pattern on leaves and stems.
                    </p>
                </div>
            </div>
            <!-- card 36 -->
            <div class="card" onclick="toggleDescription(this)">
                <div class="card-content">
                    <div class="image-container">
                        <img src="images/disease/Tomato - Yellow Leaf Curl.webp" alt="Tomato - Yellow Leaf Curl">
                    </div>
                    <div class="text-content">
                        <h3>Tomato - Yellow Leaf Curl</h3>
                    </div>
                </div>
                <div class="description-section" style="display: none;">
                    <h4>Description</h4>
                    <p>
                        A viral infection causing curled, yellowing leaves and stunted growth.
                    </p>
                </div>
            </div>
            <!-- card 37 -->
            <div class="card" onclick="toggleDescription(this)">
                <div class="card-content">
                    <div class="image-container">
                        <img src="images/disease/Tomato - Mosaic Virus.jpg" alt="Tomato - Mosaic Virus">
                    </div>
                    <div class="text-content">
                        <h3>Tomato - Mosaic Virus</h3>
                    </div>
                </div>
                <div class="description-section" style="display: none;">
                    <h4>Description</h4>
                    <p>
                        A viral disease causing mottled, yellowish leaves and reduced fruit yield.
                    </p>
                </div>
            </div>
            <!-- card 38 -->
            <div class="card" onclick="toggleDescription(this)">
                <div class="card-content">
                    <div class="image-container">
                        <img src="images/disease/Tomato - Healthy.jpg" alt="Tomato - Healthy">
                    </div>
                    <div class="text-content">
                        <h3>Tomato - Healthy</h3>
                    </div>
                </div>
                <div class="description-section" style="display: none;">
                    <h4>Description</h4>
                    <p>
                        Tomato plants with no disease or damage signs.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer -->
<footer class="footer">
    <div class="footer-container">
        <!-- Bagian Kiri: Informasi Kontak -->
        <div class="footer-left">
            <h3>Neochloris</h3>
            <p>
                Neochloris is a plant disease detection platform providing accurate and reliable diagnoses for healthier plants.
            </p>
            <div class="contact-info" id="contact">
                <p><i class="fas fa-envelope"></i> iqbamaulana6069@gmail.com</p>
                <p><i class="fas fa-phone"></i> +62 813 2189 6707</p>
                <p><i class="fab fa-whatsapp"></i> +62 813 2189 6707</p>
            </div>
        </div>
        <!-- Bagian Tengah: Navigasi -->
        <div class="footer-center">
            <h4>Navigation</h4>
            <a th:href="@{|/|}" class="logo"></a>
            <nav>
                <ul class="nav-links-footer">
                    <li><a th:href="@{|/#home|}">Home</a></li>
                    <li><a th:href="@{|/#about|}">About</a></li>
                    <li><a th:href="@{/disease-library}">Diseases</a></li>
                    <li><a th:href="@{|/#analysis|}">Analysis</a></li>
                    <li><a th:href="@{|/#contact|}">Contact</a></li>
                </ul>
            </nav>
        </div>
        <!-- Bagian Kanan: Ikon Sosial Media -->
        <div class="footer-right">
            <h4>Follow Us</h4>
            <div class="social-icons">
                <a href="https://github.com/Baleehash" target="_blank" aria-label="GitHub">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://www.instagram.com/baleehash/" target="_blank" aria-label="Instagram">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.facebook.com/Baleeehash" target="_blank" aria-label="Facebook">
                    <i class="fab fa-facebook"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <p class="copyright">
        © 2024 Neochloris. All Rights Reserved. Designed and Developed by
        <a href="https://github.com/Baleehash">Baleehash</a>
    </p>
</footer>
<script th:src="@{/js/script.js}"></script>
</body>
</html>
